<div class="jumbotron jumbotron-fluid">
    <div class="container c-large">
        <article class="row no-gutters">
            <div class="col-md-8">
                <div class="image-wrapper float-left">
                    <img style="display: none;"
                        src="{{ '/assets/imgs/plugins/logo_2.svg' | absolute_url }}" class="logo" />
                </div>
                <div class="single-post-content-wrapper pr-4">
                    <h1 class="display-4">{{site.data.header.title}}</h1>
                    <p class="lead">{{site.data.header.description}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="font-size: 5rem;">{{site.data.header.date}}</h1>
                <div class="subtitle"> {{site.data.header.subtitle}}</div>
            </div>
        </article>
    </div>

    <div class="container c-small">
        <article class="row no-gutters">
            <div class="col-12" align="center">
                <div class="image-wrapper">
                    <img style="display: none;"
                        src="{{ '/assets/imgs/plugins/logo_2.svg' | absolute_url }}" class="logo-small" />
                </div>
            </div>
            <div class="col-12">
                <div class="single-post-content-wrapper p-3">
                    <h1 class="display-4">{{site.data.header.title}}</h1>
                    <br>
                    <h1>{{site.data.header.date}}</h1>
                    <div class="subtitle"> {{site.data.header.subtitle}}</div>
                    <br>
                    <p class="lead">{{site.data.header.description}}</p>
                </div>
            </div>

        </article>
    </div>
</div>