{% for section in site.data.topics.sections %}
<div class="container-fluid" id="{{section.anchor}}">
    <div class="container mb-5 section">
        <h1>Topics</h1>
        <br>
        <div class="row">
                <div class="col-12">


                        {% if section.list %}
                        
                        <div class="row">
                          {% for item in section.list %}
                          {% if item.type =='card' %}
                          {% include topic.html item=item %}
                          {% endif %}
                          {% endfor %}
                        </div>
                        {% endif %}
                      </div>
                    </div>
        </div>
    </div>
</div>
{% endfor %}